@{
    ViewData["Title"] = "Home Page";
}
@model DataHandlerModel

<div class="main-content">
    @Html.TextBoxFor(m => m.Postcode, new { placeholder = "Please enter a Postcode", @class = "form-control" })
</div>
