@{
    ViewData["Title"] = "Home Page";
}
@model DataHandlerModel

<div class="main-content">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        @Html.TextBoxFor(m => m.Postcode, new { placeholder = "Please enter a Postcode", @class = "form-control" })
        @Html.TextBoxFor(m=> m.HouseNumber,new { @type = "number", @class = "form-control"})
        <input type="submit" value="Search" />
    }
</div>
